@import url("https://fonts.googleapis.com/css2? family= Nunito:wght@300 & display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*globales*/
html {
  font-size: 90%; }

body {
  display: grid;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2.5px;
  text-transform: capitalize; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

/*Variables de color*/
/*estilos para el header*/
nav {
  background-color: #1E1E24; }
  nav div {
    text-align: center;
    margin-top: -10px; }
    nav div ul {
      margin-top: 1.5rem;
      padding: 2px; }
    nav div li {
      font-size: 16px; }

.header_titulo {
  margin-top: 10px;
  margin-left: 10px;
  color: #F58A07; }

.div_button--estilos {
  border: 5px solid #F58A07; }

.li_a--menu {
  color: #ffffff;
  margin: 10px;
  list-style: 16px; }

@media screen and (max-width: 800px) {
  .header_titulo {
    font-size: 15px;
    color: #F58A07;
    margin-top: 15px; }
  .li_a--menu {
    font-size: 12px; } }

footer {
  background-color: #1E1E24;
  margin-top: 20px; }
  footer h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-right: -15px;
    color: #F58A07; }

.fa-brands {
  color: #F58A07;
  font-size: 18px; }

.main {
  margin-top: 11%;
  position: relative;
  margin-right: 10%; }
  .main_section--index {
    height: 50em;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5px;
    margin-bottom: 5%;
    background-color: #2D3A3A;
    box-shadow: 0 6px 6px 0px #F58A07;
    border-color: #F58A07;
    border-radius: 10px;
    margin-top: 3%; }
    .main_section--index-div {
      margin: 2%; }

span {
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff; }

h2 {
  font-size: 30px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin-top: -5%;
  margin-bottom: 2%; }

.section-article {
  justify-content: space-between;
  display: flex;
  margin-top: 20px; }
  .section-article-img {
    object-fit: cover;
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-color: #F58A07; }

@media (max-width: 800px) {
  h2 {
    margin-top: 10px; } }

@media (max-width: 800px) {
  span {
    font-size: 10px; } }
