footer {
  background-color: $bg-gris-petroleo;
  margin-top: 20px;

  h3 {
    font-size: $tituloh3;
    margin-top: 10px;
    margin-right: -15px;
    color: $bg-oranje;
  }
}
.fa-brands{
  color: $bg-oranje;
  font-size: 18px;
}