/*estilos para el header*/
nav{
    background-color: $bg-gris-petroleo;
    div{
        text-align: center;
        margin-top: -10px;
        ul{
            margin-top: 1.5rem;
            padding: 2px;
        }
        li{
            font-size: $lista;
        }
    }
}
.header_titulo{
    margin-top: 10px;
    margin-left: 10px;
    color: $bg-oranje;
}
.div_button--estilos{
    border: 5px solid $bg-oranje;
}
.li_a--menu{
    color: $bg-white;
    margin: 10px;
    list-style: $lista;
}
@media screen and (max-width: 800px){
    .header_titulo{
      font-size: 15px;
      color: $bg-oranje;
      margin-top: 15px;
    }
    .li_a--menu{
        font-size: $menuresponsive;
    }
  }