/*estilos para el header*/
header {
    background-color: $bg-gris-petroleo;

    nav {
        background-color: $bg-gris-petroleo;

        img {
            width: 4%;
            margin-left: 20px;
        }

        div {
            text-align: center;
            margin-top: 10px;

            a {
                cursor: pointer;
                margin-left: 10px;

                h1 {
                    color: $bg-white;
                }
            }
        }
    }

}

.nav_div--menu {
    margin-bottom: 20px;

}

/*estilos para el boton de iniciar seccion del header*/
.boton_style {
    border: none;
    background: none;

    span {
        color: $bg-white;
        padding-bottom: 7px;
        font-size: 16px;
        padding-right: 14px;
        text-transform: uppercase;
    }

    svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }
}

.boton_style:hover {
    svg {
        transform: translateX(0);
    }
}

.boton_style:active {
    svg {
        transform: translateX(0.9);
    }
}

.hover-underline {
    position: relative;
    color: $bg-white;
    padding-bottom: 20px;
}

.hover-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: $bg-oranje;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.boton_style:hover .hover-underline:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*estilos para responsive del header*/

@media screen and (max-width: 1000px) {
    img {
        width: 40px;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        height: 9%;
        align-content: space-between;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: 9%;
    }
}

@media screen and (max-width:500px) {
    h1 {
        display: none;
    }
}